.review-book{
    .row{
        .image{
            img{
                object-fit: cover;
                max-width: 100%;
            }
        }
        .form-pay{
            border: 2px solid $color-black;

        }
    }
}