<div class="content_main container-fluid mt-2 mb-5">                
    <div class="breadcum">
               <div class="p5">
                   <a href="/">
                       <img src="/Content/images/home.png" alt="icon home" class="ico_home"></a><img src="/Content/images/icon_arrow.png" alt="arrow" class="arrow"><span class="active">Giới thiệu</span>
               </div>
           </div>
           <div class="content_main left_content">
               <div class="content_tintuc detail_content_view">
                   <div class="des">
                       <p>Sachtot.vn là một trong những hệ thống phân phối nội dung gồm: sách điện tử (<em>eBook</em>), sách nói (audio book), truyện tranh (ecomic) có bản quyền lớn nhất dành cho mọi đối tượng khách hàng.</p><p>&nbsp;</p>
   
   <p>Sachtot.vn cung cấp đến người dùng các nội dung sách, truyện, truyện tranh, nghe sách / truyện audio. Ngoài ra dịch vụ còn cung cấp đến cho bạn đọc rất nhiều các văn bản đọc, tài liệu và tạp chí.</p>
   <p>&nbsp;</p>
   <p>Với giá bán chỉ bằng từ 25 – 45% giá bìa bản cứng, bạn đã ngay lập tức sở hữu trọn vẹn tác phẩm của dịch vụ Sachtot.vn. Sachtot.vn cho phép khách hàng đọc sách trên nhiều thiết bị điện tử thông dụng như: máy tính cá nhân (PC), máy tính bảng (tablet) và các thiết bị điện thoại thông minh (smartphone). Phần mềm ứng dụng Sachtot.vn được tích hợp trên nhiều hệ điều hành: Window, iOS, Android, …. Ứng dụng sử dụng dễ dàng, có thể tinh chỉnh về cỡ chữ, màu sắc và các thao tác tuỳ theo sở thích của người đọc, Sachtot.vn giúp khách hàng có thể đọc sách mọi lúc mọi nơi.</p>
   <p>&nbsp;</p>
   <p>Với số lượng lên đến vài chục ngàn tựa sách có bản quyền được cung cấp từ các nhà xuất bản, nhà sách, công ty cung cấp nội dung số có uy tín trong cả nước, Sachtot.vn đang là một kênh dịch vụ tuyên truyền về văn hóa đọc sách có bản quyền hàng đầu Việt Nam. Ngoài ra đọc sách trên Sachtot.vn là bạn cũng đang cùng các nhà xuất bản chung tay chống lại cuốc chiến sách lậu, mọi xuất bản và các ấn phẩm xuất hiện trên giá sách của chúng tôi, đều được xin tác quyền tác giả.</p>
   <p>&nbsp;</p>
</div>
               </div>
           </div>
   <div class="right_content">
       <div class="banner_app">
       <a href="https://itunes.apple.com/us/app/sach-tot/id922845315?ls=1?mt=8" id="down_appstore">
           <img src="/Content/images/appstoredw.png" alt="download"></a>
       <a href="https://play.google.com/store/apps/details?id=com.lemon.sachtot" id="down_gplay">
           <img src="/Content/images/gplay.png" alt="googeplay"></a>
   </div>
   <div class="facebook">
       <iframe src="//www.facebook.com/plugins/likebox.php?href=https://www.facebook.com/sachtot?fref=ts?ref=hl&amp;width=189&amp;height=300&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false&amp;appId=425711687494746" scrolling="no" frameborder="0" style="border: none; overflow: hidden; width: 189px; height: 300px;" allowtransparency="true"></iframe>
   </div>