<div class="book-detail container mt-5">
    <div class="row">
      <div class="image col-sm-6">
        <div class="image">
            <img src="img/ye.jpg" alt="">
        </div>
      </div>
      <div class="conten-book col-sm-6">
        <h3>Yêu Em Bằng Mắt, Giữ Em Bằng Tim</h3>
        <h5>Tác giả: Dương Thụy</h5>
        <h5>Nhà xuất bản: Nxb Trẻ</h5>
        <h5>Nhà phát hành: NXB Trẻ</h5>
        <p>Phương đã từng có một tình yêu trong trẻo tinh khôi ở tuổi 18 với Trung - người trợ lý tài giỏi, trung thành của bà nội. Nhưng họ sớm bị chia cắt khi Phương qua Pháp đoàn tụ với mẹ, và mất liên lạc trong 10 năm ròng rã. Định mệnh cuối cùng cũng cho họ gặp nhau, giải tỏa những hiểu lầm và nối lại mối duyên xưa. Nhưng thách thức vẫn chưa hết. Một lần nữa, Phương và Trung phải đứng trước lựa chọn nắm tay hoặc buông nhau ra..</p>
        <button type="submit" class="btn btn-primary">Đọc sách</button>
        </div>
      <!-- <div class="form-pay col-sm-3">     
        <form action="/action_page.php">
            <div class="mb-3 mt-3">
                <p>Thông tin thanh toán</p>
            </div>
            <div class="mb-3">
                <p>Giá bán : 145000 đ </p>
            </div>
            <div class="form-check mb-3">
              <p> Sách này sẽ được Fm book lấy từ NXB khi quý khách đặt mua. Thời gian gởi hàng từ 5-10 ngày làm việc.</p>
            </div>
            <button type="submit" class="btn btn-primary">Mua ngay</button>
          </form>
      </div> -->
    </div>
  </div>