<!-- Banner -->
<section class="banner">
	<div class="banner-content">
		<div class="row">
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 content">
				<h3 class="fs-1 fw-bold">upto 75% off</h3>
				<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam deserunt nostrum accusamus. Nam alias sit necessitatibus, aliquid ex minima at!</p>
			</div>
			<div class="col-xs-12 col-sm-12 col-md-6 col-lg-6">
				<div class="swiper books-slider">
					<div class="swiper-wrapper d-flex">
						<a href="#" class="swiper-slide"><img src="img/book-1.png" alt=""></a>
						<a href="#" class="swiper-slide"><img src="img/book-2.png" alt=""></a>
						<a href="#" class="swiper-slide"><img src="img/book-3.png" alt=""></a>
						<a href="#" class="swiper-slide"><img src="img/book-4.png" alt=""></a>
						<a href="#" class="swiper-slide"><img src="img/book-5.png" alt=""></a>
						<a href="#" class="swiper-slide"><img src="img/book-6.png" alt=""></a>
					</div>
					<img src="img/stand.png" class="stand" alt="">
				</div>
			</div>
		</div>
	</div>
</section>

<!-- List icon -->
<section class="section-icon container mt-5">
	<div class="row">
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-shipping-fast fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Free Shipping</h5>
					<p class="text-secondary">Order over $100</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-lock fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Secure Payment</h5>
					<p class="text-secondary">100 Secure Payment</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-redo fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">Easy Returns</h5>
					<p class="text-secondary">10 Days Returns</p>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-sm-12 col-md-3 col-lg-3">
			<div class="icons-content__section d-flex justify-content-center align-items-center">
				<i class="fas fa-headset fs-1 pb-2 text-success mx-3"></i>
				<div class="content__section">
					<h5 class="fw-bold">24/7 Support</h5>
					<p class="text-secondary">Call Us Anytime</p>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- 	FEATURED BOOKS --> 
<section class="featured container mt-5" id="featured">
	<h2 class="heading">
		<span>featured books</span>
	</h2>
	<div class="swiper featured-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/nhungdon.jpg" alt="">
				</div>
				<div class="content">
					<h3>Những Đòn Tâm Lý Trong Thuyết Phục (Tái Bản 2020)</h3>
					<div class="price text-secondary">$15.99 </div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/tangtruong.jpg" alt="">
				</div>
				<div class="content">
					<h3>Tăng Trưởng Thông Minh - Growth IQ</h3>
					<div class="price text-secondary">$15.99 </div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/kichhoat.jpg" alt="">
				</div>
				<div class="content">
					<h3>Kích Hoạt Tiềm Năng - Talent Unleashed</h3>
					<div class="price text-secondary">$15.99</div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/chungta.jpg" alt="">
				</div>
				<div class="content">
					<h3>Chúng Ta Thấy Lại Những Vì Sao</h3>
					<div class="price text-secondary">$15.99</div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/tintuc.jpg" alt="">
				</div>
				<div class="content">
					<h3>Tin Tức Kiến Tạo - Constructive News</h3>
					<div class="price text-secondary">$15.99</div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
			<div class="swiper-slide box">
				<div class="image">
					<img src="img/ye.jpg" alt="">
				</div>
				<div class="content">
					<h3>Yêu Em Bằng Mắt, Giữ Em Bằng Tim</h3>
					<div class="price text-secondary">$15.99</div>
					<button class="btn btn-success"><a href="/review-book" class="text-light">Buy</a></button>
				</div>
			</div>
		</div>
	</div>
</section>

<!-- =========================================================== -->
<!-- SUBSCRIBE -->
<section class="subscribe-section">
	<form action="" class="form-group text-center">
		<h3 class="text-light">Subscribe For Lastest Updated</h3>
		<input type="text" class="d-block form-control" placeholder="Enter your email">
		<button class="btn btn-success mt-3"> Subscribe </button>
	</form>
</section>
<!-- ====================================================== -->
<!-- Slider ARRIVALS -->
<section class="arrivals container mt-5 mb-3" id="arrivals">
	<h1 class="heading"> <span>new arrivals</span> </h1>
	<div class="swiper arrivals-slider">
		<div class="swiper-wrapper">
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/luachon.jpg" alt="">
				</div>
				<div class="content">
					<h5>Lựa Chọn Đúng Quan Trọng Hơn Nỗ Lực</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="#" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/liveinlove.jpg" alt="">
				</div>
				<div class="content">
					<h5>Live In Love - Sống Đời Yêu Thương</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/muonkiep.jpg" alt="">
				</div>
				<div class="content">
					<h5>Muôn Kiếp Nhân Sinh - Many Times, Many Lives - Tập 2</h5>
					<div class="price">$15.00 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/trongta.jpg" alt="">
				</div>
				<div class="content">
					<h5>Trong Ta Rồi Sẽ Lành Lại</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/luattam.jpg" alt="">
				</div>
				<div class="content">
					<h5>Luật Tâm Thức - Giải Mã Ma Trận Vũ Trụ</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/nguoinhaycam.jpg" alt="">
				</div>
				<div class="content">
					<h5>Người Nhạy Cảm Trong Thế Giới Vô Cảm</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
	<div class="swiper arrivals-slider">
		<div class="swiper-wrapper">
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/bosucmanh.jpg" alt="">
				</div>
				<div class="content">
					<h5>Bộ Sách Sức Mạnh Tiềm Thức (Bộ 2 Cuốn)</h5>
					<div class="price">$15.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/trongnucuoi.jpg" alt="">
				</div>
				<div class="content">
					<h5>Trồng Một Nụ Cười - Cùng Trẻ Thực Hành Chánh Niệm</h5>
					<div class="price">$19.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/motdoi.jpg" alt="">
				</div>
				<div class="content">
					<h5>Một Đời Thương Thuyết (Tái Bản)</h5>
					<div class="price">$11.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/duongmay.jpg" alt="">
				</div>
				<div class="content">
					<h5>Đường Mây Trên Đất Hoa</h5>
					<div class="price">$10.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/phily.jpg" alt="">
				</div>
				<div class="content">
					<h5>Phi Lý Trí (Tái Bản)</h5>
					<div class="price">$18.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
			<a href="/review-book" class="swiper-slide box d-flex align-items-center">
				<div class="image">
					<img src="/img/sutienhoa.jpg" alt="">
				</div>
				<div class="content">
					<h5>Sự Tiến Hóa Của Tiền Tệ</h5>
					<div class="price">$14.99 </div>
					<div class="stars">
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star text-success"></i>
						<i class="fas fa-star-half-alt text-success"></i>
					</div>
				</div>
			</a>
		</div>
	</div>
</section>
